NEXTAUTH_SECRET=dev-secret-do-not-use-in-prod-aaaaaaaaaaaaaaaa
NEXTAUTH_URL=http://localhost:8080
NEXTAUTH_KEYCLOAK_ID=betting-frontend
NEXTAUTH_KEYCLOAK_SECRET=betting-frontend-secret
NEXTAUTH_KEYCLOAK_ISSUER=http://localhost:8090/realms/betting
NEXTAUTH_KEYCLOAK_ISSUER_INTERNAL=http://localhost:8090/realms/betting
GATEWAY_URL=http://localhost:4000
