NEXTAUTH_SECRET=replace-me-with-a-long-random-string
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_KEYCLOAK_ID=betting-frontend
NEXTAUTH_KEYCLOAK_SECRET=betting-frontend-secret
NEXTAUTH_KEYCLOAK_ISSUER=http://localhost:8090/realms/betting
NEXTAUTH_KEYCLOAK_ISSUER_INTERNAL=http://keycloak:8080/realms/betting
GATEWAY_URL=http://nginx:80
GATEWAY_PUBLIC_PORT=8080
